<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LogPath" value="\Log\ebayLog.txt"/>
		<add key="MailFrom" value="[youremail@gmail.com]"/>
		<add key="TradingService" value="https://api.ebay.com/wsapi"/>
		<add key="FindingService" value="https://svcs.ebay.com/services/search/FindingService/v1"/>
		<add key="ShoppingService" value="http://open.api.ebay.com/shopping"/>
		<add key="EparcelGeneratedFile" value="~/files/e_parcel_file.csv"/>
		<add key="ShippingCarrier" value="EPARCEL"/>
		<add key="DevID" value="f558d840-e7aa-43ac-aa38-e0b6d8547568"/>
		<add key="AppID" value="WilliamG-9051-4d66-9633-6e3f1fb71811"/>
		<add key="CertID" value="6c8f1efa-67df-4e3a-8827-ff89c47852f9"/>
		<add key="RuName" value="William_Gerard_-WilliamG-9051-4-qmqitciqk"/>
		<add key="EbaySignInLink" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignInANDRuName=[RuName]ANDSessID=[SessionID]"/>
		<add key="SenderEmailAddress" value="support@parcelsolutions.com.au"/>
		<add key="SenderEmailPassword" value="toeasy4me"/>
		<add key="SenderSMTPServer" value="smtp.gmail.com"/>
		<add key="CCEmailAddress" value="support@parcelsolutions.com.au"/>
		<add key="aspnet:MaxHttpCollectionKeys" value="8000"/>
		<add key="aspnet:MaxJsonDeserializerMembers" value="8000"/>
		<add key="ShopifyConsumerKey" value="2a1076aa2b95a03268bea0d7ca667503"/>
		<add key="ShopifyConsumerSecret" value="c0b81a311142d05a3150558b836d5a24"/>
		<add key="com.magento.www.Magento" value="http://www.wgit-tech.com/shop/index.php/api/v2_soap/index/"/>
		<add key="com.channeladvisor.api.AdminService" value="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/AdminService.asmx"/>
		<add key="com.channeladvisor.api.OrderService" value="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/OrderService.asmx"/>
		<add key="com.ebay.developer.FindService" value="https://svcs.ebay.com/services/search/FindingService/v1"/>
		<add key="com.ebay.developer.ShoppingService" value="http://open.api.ebay.com/shopping"/>
		<add key="MyEbayIDs" value="brucewl1964,williamgerardit"/>
	<add key="com.ebay.developer.ebaySvc" value="https://api.ebay.com/wsapi"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="DataModelEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=103.24.99.222;Initial Catalog=PriceManagerTest;User Id=sa;Password=system00/&quot;" providerName="System.Data.EntityClient"/>-->

    <add name="DataModelEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PriceManagerTest;User Id=sa;Password=system00/&quot;" providerName="System.Data.EntityClient"/>
    
		<!--<add name="DataModelEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=223.27.24.166;Initial Catalog=PriceManagerTest;User Id=sa;Password=dUqEmameqa@2&quot;" providerName="System.Data.EntityClient"/>-->
    
		<!--<add name="DataModelEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=223.27.24.166;Initial Catalog=PriceManager;User Id=Parcelsolutions;Password=dUqEmameqa@2&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="EbayShippingConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EbayShipping;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha "/>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</httpHandlers>
		<customErrors mode="Off" defaultRedirect="~/pages/ErrorPage.aspx"/>
		<machineKey validationKey="87CD989A6147D94BFB3AA268BD08ED80E9120327CDC61E213141E01BBC267F43A9060A4F29B11C1268559571A6500541E769A8AF9F9F1F2D0D759036B2E2E51A" decryptionKey="59ABEC7D918E7CB08505F6A26C329E0A9E9908463B3F37D9ED49D1886A8238BC" validation="SHA1" decryption="AES"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<httpRuntime requestValidationMode="2.0"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<handlers>
			<add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="/Default.aspx"/>
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<bindings/>
		<client/>
		<behaviors>
   <endpointBehaviors>
    <behavior name="GeneralAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
    <behavior name="TestServiceAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="debug">
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />

		<services>
   <service behaviorConfiguration="debug" name="GeneralSvc">
    <endpoint address="" behaviorConfiguration="GeneralAspNetAjaxBehavior"
     binding="webHttpBinding" contract="GeneralSvc" />
   </service>
   <service name="TestService">
    <endpoint address="" behaviorConfiguration="TestServiceAspNetAjaxBehavior"
     binding="webHttpBinding" contract="TestService" />
   </service>
  </services>


		
		
		<!-- For Local-->
	</system.serviceModel>
</configuration>
